$font-default-color: #262626;
$font-default-size: 14px;
$font-small-size: 12px;
$font-bold-weight: 600;
$font-default-line-height: 18px;
$border-default-set: 1px solid #dbdbdb;
$background-default-color: #fafafa;
