@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '../Styles/Common.scss';
@import '../Styles/Reset.scss';

.main {
  .path-icon {
    display: flex;

    a {
      margin-left: 24px;
      background-color: transparent;
      border: none;

      &:hover {
        text-decoration: none;
      }

      .profile-image {
        width: 22px;
        height: 22px;

        img {
          border-radius: 50%;
        }
      }
    }
  }
}

main {
  #main-section {
    display: flex;
    margin: 0 auto;
    padding-top: 85px;
    max-width: 935px;

    #main-left {
      width: 100%;
      max-width: 614px;
      margin-right: 28px;

      .story {
        position: relative;
        padding: 16px 0;
        margin-bottom: 24px;
        margin-top: 0;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 3px;

        .story-image {
          height: 84px;
          width: 100%;
          height: 100%;
          padding-left: 20px;

          ul {
            display: flex;
            margin: 0;
            list-style: none;

            li {
              display: flex;
              margin-right: 17px;
              flex-direction: column;
              align-items: center;
            }
          }

          .story-profile {
            position: relative;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            z-index: 2;
          }

          .story-ID {
            margin-top: 5px;
            color: $black-color;
            line-height: 14px;
            font-size: $small-font;
            text-overflow: ellipsis;
          }

          .stroy-ring {
            position: absolute;
            width: 64px;
            height: 64px;
            top: 12px;
            z-index: 1;
          }
        }

        .story-arrow {
          position: absolute;
          width: 45px;
          height: 45px;
          right: 0;
          top: 50%;
          background: 0 0;
          border: 0;
          justify-self: center;
          outline: 0;
          transform: translateY(-50%);
          z-index: 10;

          .story-arrow-image {
            height: 45px;
            width: 45px;

            // background-image: url(../image/icon/icon2.png);
            background-repeat: no-repeat;
            background-position: 0 -431px;
          }
        }
      }

      .feed {
        width: 100%;
        margin-bottom: 60px;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 3px;

        .article-head {
          display: flex;
          padding: 16px;
          height: 60px;
          justify-content: space-between;
          border-bottom: 1px solid #efefef;

          .article-profile {
            position: relative;
            display: flex;

            img {
              &:first-child {
                position: relative;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                z-index: 2;
              }

              &:nth-child(2) {
                position: absolute;
                width: 42px;
                height: 42px;
                top: -5px;
                left: -5px;
              }
            }

            .article-ID {
              margin-left: 14px;
              color: $black-color;
              font-weight: 600;
            }
          }
        }

        .article-bottom {
          width: 100%;
          padding: 16px 16px 0 16px;
          background: #fff;

          .article-bottom-icon {
            display: flex;
            justify-content: space-between;

            button {
              padding: 8px;
              background: transparent;
              border: none;
            }

            .article-bottom-icon-left button:nth-child(1) {
              padding-left: 0px;
            }

            .article-bottom-icon-right button {
              padding-right: 0px;
            }
          }

          .article-bottom-thank {
            margin-bottom: 8px;

            a:hover {
              color: $black-color;
              text-decoration: none;
            }
          }

          .text,
          .article-bottom-thank a {
            color: $black-color;
            font-weight: 600;
            font-size: $middle-font;
          }

          .article-bottom-more-comment {
            color: #8e8e8e;
            font-size: $middle-font;
          }

          .article-bottom-comment-box .article-bottom-comment {
            position: relative;

            svg {
              position: absolute;
              cursor: pointer;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          span,
          .article-bottom-title span {
            font-size: $middle-font;
            font-weight: 400;
          }

          .article-bottom-comment-box .article-bottom-comment {
            i {
              position: absolute;
              margin-right: 25px;
              right: 0;
              font-size: $small-font;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
            }

            .heart {
              path {
                pointer-events: none;
                cursor: none;

                // d: path(
                //   "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                // );
                fill: $black-color;
                transition: 0.3s;
              }

              &.red path {
                // d: path(
                //   "M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                // );
                fill: red;
              }
            }
          }

          .article-bottom-past-time {
            margin: 8px 0;
            font-size: 10px;
            letter-spacing: 0.2px;
            color: #8e8e8e;
          }

          .article-bottom-input {
            display: flex;
            position: relative;
            margin: 0;
            border-top: 1px solid #efefef;
            min-height: 56px;
            align-items: center;

            .article-bottom-input-emoji {
              padding: 8px 16px 8px 0;
              background: transparent;
              border: none;
            }

            input {
              border: none;

              &:focus {
                outline: none;
              }
            }

            .article-bottom-input-posting {
              position: absolute;
              right: 0;
              font-size: $middle-font;
              color: $blue-color;
              background: transparent;
              border: none;
              transition: 0.3s;

              &:disabled {
                opacity: 0.3;
              }
            }
          }
        }
      }
    }

    #main-right {
      position: fixed;
      max-width: 293px;
      right: 100px;

      .main-right-profile {
        display: flex;
        margin-top: 18px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;

        .main-right-profile-image {
          margin-right: 12px;

          img {
            width: 56px;
            height: 56px;
            cursor: pointer;
            border-radius: 50%;
          }
        }

        .main-right-profile-nickname {
          flex: 1 1 auto;
          margin: -3px 0 -4px 6px;
          color: $black-color;
          font-size: $middle-font;
          line-height: 18px;
          font-weight: 600;

          .main-right-profile-name {
            color: #8e8e8e;
          }
        }

        .main-right-profile-transform {
          font-size: $small-font;
          font-weight: 600;
          color: $blue-color;
          cursor: pointer;
        }
      }

      .main-right-push {
        display: flex;
        position: relative;
        padding: 4px 0;
        margin-top: 16px;
        justify-content: space-between;

        p {
          margin: -3px 0 -4px;
          color: #8e8e8e;
          font-weight: 600;
          font-size: $middle-font;
          line-height: 18px;
        }

        span {
          margin: -2px 0 3px;
          color: $black-color;
          font-size: $small-font;
          font-weight: 600;
          line-height: 14px;
        }
      }

      .main-right-follow {
        display: flex;
        padding-bottom: 4px;
        padding-top: 4px;
        align-items: center;
        justify-content: space-between;

        .main-right-follow-image {
          width: 42px;
          height: 42px;
          position: relative;

          img {
            top: 50%;
            left: 50%;
            width: 32px;
            height: 32px;
            transform: translate(-50%, -50%);
            position: absolute;
            cursor: pointer;
            border-radius: 50%;

            &:nth-child(2) {
              width: 38px;
              height: 38px;
              z-index: -1;
            }
          }
        }

        .main-right-follow-nickname {
          flex: 1 1 auto;
          margin: -3px 0 -4px 6px;
          color: $black-color;
          font-size: $middle-font;
          line-height: 18px;
          font-weight: 600;
          margin-top: 2px;
          color: #8e8e8e;
          font-weight: 400;
          font-size: $small-font;
          line-height: 14px;
        }

        .main-right-follow-button {
          color: $blue-color;
          font-size: $small-font;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .main-right-terms {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;

        li {
          color: #c7c7c7;
          font-size: 11px;
          font-weight: 400;
          line-height: 13px;
          text-transform: none;
          list-style: none;
        }
      }

      .main-right-terms-bottom {
        color: #c7c7c7;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        text-transform: none;
        list-style: none;
      }

      .main-right-terms li::after {
        margin: 0 0.25em 0 0.25em;
        content: '\00B7';
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #main-section {
    justify-content: center;
  }

  #main-right {
    display: none;
  }
}
